@use '../abstracts' as *;

.mfa_form {
    width: $size;
    height: $size;
    padding: 1rem;
    margin: 1rem;
    background: $darker_white;
    border: 1px solid $black;
    border-radius: 0.5rem;

    h3 {
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .form_items {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;

        input[type="text"] {
            height: 2rem;
            padding: 0.5rem;
            margin: 0.5rem 0;
            border: 1px solid $black;
            border-radius: 0.5rem;
            font-size: 1rem;
        }
        
        .form_item {
            width: 86%;
            margin-top: 0.75rem;
        }
    }

}
