@use  '../abstracts' as *;

section#user_settings {
	.switch {
		$size_multiplier: 1;

		input[type="checkbox"] {
			visibility: hidden;
		}

		input[type="checkbox"]:checked + label {
			background-color: #d7ea6a;
		}

		input[type="checkbox"]:checked + label:before {
			transform: translateX(1.75rem * $size_multiplier);
			background-color: black;
		}

		label {
			display: flex;
			width: 2.625rem * $size_multiplier;
			height: 0.875rem * $size_multiplier;
			border: 1px * $size_multiplier solid black;
			border-radius: 99em;
			background-color: #bbbbbb;
			position: relative;
			transition: transform 0.15s ease-in-out;
			cursor: pointer;

			&:before {
				transition: transform 0.15s ease-in-out;
				content: "";
				display: block;
				position: absolute;
				width: 0.625rem * $size_multiplier;
				height: 0.625rem * $size_multiplier;
				background-color: black;
				margin-top: 0.0625rem * $size_multiplier;
				margin-left: 0.0625rem * $size_multiplier;
				border-radius: 50%;
			}
		}
	}
}
