{% extends "users/base.html" %}
{% block content %}
<section id="landing">
    <form action="submit" class="signIn">
        {% csrf_token %}
        <h2>Sign into GovConnect</h2>
        <span class="form_items">
            <div class="form_item">
                <label>{{ form.id_type.label }}</label>
                {{ form.id_type }}
            </div>
            <div class="form_item">
                <label>{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="form_item">
                <label>{{ form.date_of_birth.label }}</label>
                {{ form.date_of_birth }}
            </div>
        </span>
        <button type="Submit" class="form_item">Sign In</button>
    </form>

    <div class="register">
        <h2>Register for GovConnect</h2>
        <div class="ways_to_register"><a href="#">Find a GovConnect Centre</a></div>
        <div class="ways_to_register"><a href="#">Schedule a GovConnect Verifier</a></div>
        <div class="ways_to_register"><a href="#">Roaming Centre Schedule</a></div>
        <p class="muted">
            Still stuck? Find out more <a href="#">here</a>.
        </p>
    </div>
</section>
{% endblock content %}
