{% extends "base.html" %}
{% block content %}
<section id="user_settings">
    <form methods="POST">
        {% csrf_token %}
        <h1>Your Account</h1>
        <button type="submit">Update</button>
        <hr />
        <div class="opt-in-setvices">
            <h2>Opt-in Services</h2>
            <span>
                Select services you would like to have access to
                <i class="bi bi-question-circle"></i>
            </span>
            <div class="switch">
                <input type="checkbox" id="toggle" />
                <label for="toggle"></label>
            </div>
        </div>
        <div class="vl"></div>
        <div class="account-settings"></div>
    </form>
</section>
{% endblock content%}
