@use '../abstracts' as *;
a {
    color: $highlight-colour;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: $highlight-colour;
}

hr {
    border: 0;
    border-top: 2px solid black;
    border-radius: 5px;
}
