@use '../abstracts' as *;

nav {
    background: $primary-colour;
    color: $white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;

    brand {
        font-size: 3.125rem;
        float: left;
        padding: 0.5rem;
        margin-left: 1rem;
        a {
            color: $white;

        }
        span {
            color: $secondary-colour;
        }

        &:active, &:focus, &:hover {
                color: $white;
        }

        @include media("<=1366px") {font-size: calc(3.125rem - (3.125rem / 5));}
        @include media("<=tablet") {font-size: calc(3.125rem - (3.125rem / 2));}
    }

    .nav-links {
        display: flex;
        align-self: flex-end;
        list-style-type: none;

        li {
            $fs: $font-size * 1.5;
            font-size: $fs;
            a {
                display: block;
                text-align: center;
                padding: 0.5rem 0;
                margin: 0 1rem;
                border-bottom: 3px solid #707070;
                color: $white;
            }

            a.active, a:hover {
                border-bottom: 3px solid $secondary-colour;
                transition: border 0.2s ease-in-out;
            }

            @include media("<=1366px") {font-size: calc($fs - ($fs / 5));}
            @include media("<=tablet") {font-size: calc($fs / 1.5);}
        }

    }
}

@include media("<=tablet") {
    nav {
        z-index: 1;
        display: block;
        position: relative;
        min-height: 5vh;

        .hamburger {
            z-index: 2;
            position: absolute;
            cursor: pointer;
            right: 1rem;
            top: 1vh;

            .line {
                width: 30px;
                height: 3px;
                background: $white;
                margin: 5px 0;
            }
        }

        .nav-links {
            position: fixed;
            background: $primary_colour;
            height: 100vh;
            width: 100%;

            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            pointer-events: none;

            clip-path: circle(100px at 90% -20%);
            -webkit-clip-path: circle(100px at 90% -20%);
            transition: all 0.3s ease-out;

            &.open {
                clip-path: circle(1400px at 90% -20%);
                -webkit-clip-path: circle(1400px at 90% -20%);
                pointer-events: all;
            }

            li {
                width: max-content;
                font-size: 2rem;
                opacity: 0;

                &:nth-child(1) {
                    transition: opacity 0.25s ease-in-out 0.1s;
                }
                &:nth-child(2) {
                    transition: opacity 0.2s ease-in-out 0.15s;
                }
                &:nth-child(3) {
                    transition: opacity 0.15s ease-in-out 0.2s;
                }
                &:nth-child(4) {
                    transition: opacity 0.1s ease-in-out 0.25s;
                }

                &.fade {
                    opacity: 1 !important;
                }
            }
        }
    }
}

