@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
a {
  color: #0f6493;
  text-decoration: none;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: #0f6493;
}

hr {
  border: 0;
  border-top: 2px solid black;
  border-radius: 5px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1rem;
  font-family: "Segoe UI", sans-serif;
}

section#account_home {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
section#account_home hr {
  margin: 0;
  border: 0;
  border-top: 2px solid black;
  border-radius: 1rem;
}
section#account_home h1 {
  font-weight: bold;
  margin-bottom: 2rem;
}
section#account_home h2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 2rem;
}
section#account_home h3 {
  font-weight: normal;
}
section#account_home .left {
  width: 49%;
}
section#account_home .left td {
  padding: 0.25rem;
}
section#account_home .left .recent {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #707070;
  border-radius: 0.1rem;
}
section#account_home .left .recent h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section#account_home .left .recent h3 a {
  margin-left: 0.5rem;
  font-size: 0.75rem;
  align-self: center;
}
section#account_home .right {
  width: 49%;
}
section#account_home .right #search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #707070;
  border-radius: 1.25rem;
  padding: 0 0.5rem;
  width: 100%;
  height: 2rem;
  transition: border 1s ease-in-out;
}
section#account_home .right #search form input, section#account_home .right #search form button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
section#account_home .right #search form input[type=text], section#account_home .right #search form input[type=submit]:active {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 1rem;
  outline: none;
  flex-grow: 2;
}
section#account_home .right #search form button {
  text-align: center;
  cursor: pointer;
  color: #707070;
  transition: color 1s ease-in-out;
}
section#account_home .right #search form button i {
  font-size: 1rem;
}
section#account_home .right #search form:focus-within {
  border: 1px solid black;
  transition: border 1s ease-in-out;
}
section#account_home .right #search form:focus-within button {
  transition: color 1s ease-in-out;
  color: black;
}

@media (max-width: 1366px) {
  section#user_settings {
    min-height: fit-content;
  }
}
section#user_settings .title {
  margin-bottom: 1rem;
  width: 100%;
}
@media (max-width: 1366px) {
  section#user_settings .title {
    margin: 1rem 0;
  }
}
section#user_settings .forms {
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  align-items: stretch;
  justify-content: space-evenly;
}
@media (max-width: 1366px) {
  section#user_settings .forms {
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
  }
  section#user_settings .forms .opt-in-services {
    width: 100% !important;
  }
  section#user_settings .forms .opt-in-services .federal .service {
    margin-right: 5rem !important;
  }
  section#user_settings .forms .opt-in-services .state {
    overflow: visible !important;
    height: auto !important;
  }
  section#user_settings .forms .account-settings {
    width: 100% !important;
  }
  section#user_settings .forms h3 {
    margin-top: 1rem !important;
  }
}
section#user_settings .forms h1 {
  font-size: 2rem;
}
section#user_settings .forms h2 {
  font-weight: 600;
}
section#user_settings .forms h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 2rem;
}
section#user_settings .forms .opt-in-services {
  width: 50%;
}
section#user_settings .forms .opt-in-services .opt-title {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
section#user_settings .forms .opt-in-services .opt-title .opt-title-text {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  gap: 1rem;
}
section#user_settings .forms .opt-in-services .opt-title .subtitle [data-tooltip] {
  position: relative;
  cursor: help;
}
section#user_settings .forms .opt-in-services .opt-title .subtitle [data-tooltip]::after {
  position: absolute;
  width: 8rem;
  bottom: -2em;
  left: 125%;
  padding: 0.05em;
  text-align: center;
  box-sizing: border-box;
  content: attr(data-tooltip);
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 0.9em;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s, transform 0.2s;
}
section#user_settings .forms .opt-in-services .opt-title .subtitle [data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translateX(10px);
  transition: opacity 0.2s, transform 0.3s;
}
section#user_settings .forms .opt-in-services .opt-title .subtitle i {
  vertical-align: super;
  font-size: 0.75rem;
  border-bottom: 2px dotted;
}
section#user_settings .forms .opt-in-services .opt-title button {
  background: #026540;
  font-weight: bold;
  color: #fff;
  border: 1px solid #707070;
  border-radius: 1.5em;
  padding: 0.5em 1.5em;
  cursor: pointer;
}
section#user_settings .forms .opt-in-services hr {
  margin-bottom: 0.25rem;
  border: 1px solid #eee;
  border-radius: 5px;
}
section#user_settings .forms .opt-in-services .service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
}
section#user_settings .forms .opt-in-services .federal .service {
  margin-right: 6rem;
  font-size: 1.15rem;
}
section#user_settings .forms .opt-in-services .state {
  overflow: auto;
  height: 50vh;
}
section#user_settings .forms .opt-in-services .state .service {
  font-size: 1.15rem;
  margin-right: 5rem;
}
section#user_settings .forms .opt-in-services .state::-webkit-scrollbar {
  width: 1rem;
}
section#user_settings .forms .opt-in-services .state::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #777;
  border-radius: 1rem;
}
section#user_settings .forms .opt-in-services .state::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  background-clip: content-box;
  border-radius: 0.5rem;
  border: 3px solid transparent;
}
section#user_settings .forms .opt-in-services .state::-webkit-scrollbar-thumb:hover {
  background-color: silver;
}
section#user_settings .forms .account-settings {
  width: 40%;
}
section#user_settings .forms .account-settings .form_items {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
section#user_settings .forms .account-settings .form_items .form_section {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.15rem;
  font-weight: 400;
}
section#user_settings .forms .account-settings .form_items .form_section h4 {
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}
section#user_settings .forms .account-settings .form_items .form_section #id_primary_identification_number, section#user_settings .forms .account-settings .form_items .form_section #id_primary_identification {
  width: 100%;
  border: 2px solid #8a8a8a;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1.15rem;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0.25rem 0;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group label, section#user_settings .forms .account-settings .form_items .form_section .form_group input {
  display: inline-block;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group input[type=text], section#user_settings .forms .account-settings .form_items .form_section .form_group input[type=email] {
  padding: 0 0.5em;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group select {
  padding: 0 0.2em;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group input[type=text], section#user_settings .forms .account-settings .form_items .form_section .form_group input[type=email], section#user_settings .forms .account-settings .form_items .form_section .form_group select {
  min-width: 70%;
  border: 2px solid #8a8a8a;
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group .form_sub_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group .mfa {
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 1rem;
  padding: 0.25em 1em;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group .mfa.enabled {
  background: #00A416;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group .mfa.disable {
  background: #808080;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group .mfa.disabled {
  background: #D80000;
  cursor: not-allowed;
}
section#user_settings .forms .account-settings .form_items .form_section .form_group .mfa.setup {
  background: #0F6493;
  cursor: pointer;
}
section#user_settings .forms .account-settings .form_items .update-details {
  align-self: flex-end;
  background: #026540;
  font-weight: bold;
  color: #fff;
  border: 1px solid #707070;
  border-radius: 1.5em;
  padding: 0.5em 1.5em;
  cursor: pointer;
  width: 100%;
}

.mfa_form {
  width: 43.75rem;
  min-height: 21rem;
  max-height: 43.75rem;
  padding: 1rem;
  margin: 1rem;
  background: #eee;
  border: 1px solid #000;
  border-radius: 0.5rem;
}
.mfa_form h1 {
  font-size: 2rem;
}
.mfa_form .form_items {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.mfa_form .form_items p {
  font-size: 1.5rem;
  width: 86%;
}
.mfa_form .form_items textarea {
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #000;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
  height: 6rem;
  resize: none;
}
.mfa_form .form_items .form_item {
  width: 86%;
  margin-top: 0.75rem;
}
.mfa_form .form_items .btn {
  font-size: 1.5rem;
  height: 3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  border-top: 1px solid #707070;
  background-color: #eee;
  text-align: center;
}
footer ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
footer a {
  text-decoration: underline;
}
footer a:hover {
  color: rgba(15, 100, 147, 0.8);
}
footer img {
  height: 5vh;
  width: auto;
}

main {
  min-height: 80vh;
}
main section {
  padding: 1rem;
}
main section#landing, main section#user_authentication, main section#account_home {
  display: flex;
  min-height: 80vh;
}
main section#landing {
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 1366px) {
  main section#landing {
    flex-flow: column wrap;
  }
}
main section#user_authentication {
  align-items: center;
  justify-content: center;
}
main section#user_settings {
  padding: 2vh 10vw;
}
@media (max-width: 1366px) {
  main section#user_settings {
    padding: 0 3vw;
  }
}

nav {
  background: #026540;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
nav brand {
  font-size: 3.125rem;
  float: left;
  padding: 0.5rem;
  margin-left: 1rem;
}
nav brand a {
  color: #fff;
}
nav brand span {
  color: #d7ea6a;
}
@media (max-width: 1366px) {
  nav brand {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  nav brand {
    font-size: 1.5625rem;
  }
}
nav ul {
  align-self: flex-end;
  list-style-type: none;
  display: flex;
}
nav ul li {
  font-size: 1.5rem;
}
nav ul li a {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0 1rem;
  border-bottom: 3px solid #707070;
  color: #fff;
}
nav ul li a.active, nav ul li a:hover {
  border-bottom: 3px solid #d7ea6a;
  transition: border 0.2s ease-in-out;
}
@media (max-width: 1366px) {
  nav ul li {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  nav ul li {
    font-size: 1rem;
  }
}

.signIn, .register {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  height: 43.75rem;
  width: 43.75rem;
  border: 1px solid #000;
  background: #eee;
  border-radius: 25px;
}
.signIn h2, .register h2 {
  font-size: 2.1875rem;
  font-weight: 500;
  padding: 0 1rem;
  align-self: flex-start;
}
@media (max-width: 1336px) {
  .signIn, .register {
    margin: 1.5rem;
    width: 29.1666666667rem;
    height: 29.1666666667rem;
  }
  .signIn button, .register button {
    height: 2.9583333333rem;
    font-size: 1.4583333333rem;
    margin-top: 2.3333333333rem;
  }
  .signIn h2, .register h2 {
    padding: 0 0.5rem;
    font-size: 1.4583333333rem;
  }
}
@media (max-width: 768px) {
  .signIn, .register {
    margin: 2rem;
    width: 21.875rem;
    height: 21.875rem;
  }
  .signIn button, .register button {
    height: 2.21875rem;
    font-size: 1.09375rem;
    margin-top: 1.75rem;
  }
  .signIn h2, .register h2 {
    padding: 0 0.5rem;
    font-size: 1.09375rem;
  }
}

.signIn .form_items {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.signIn .form_item {
  width: 86%;
  margin-top: 0.75rem;
}
.signIn label {
  font-size: 1.875rem;
}
.signIn input[type=text], .signIn input[type=date], .signIn select {
  font-size: 1.625rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid #707070;
  margin: 8px 0;
  width: 100%;
  height: 4.4375rem;
  cursor: pointer;
}
@media (max-width: 1366px) {
  .signIn label {
    font-size: 1.25rem;
  }
  .signIn input[type=text], .signIn input[type=date], .signIn select {
    font-size: 1.0833333333rem;
    height: 2.9583333333rem;
    margin: 4px 0;
  }
  .signIn button {
    margin-top: 2.5rem !important;
  }
  .signIn .form_items {
    margin-top: 0.5rem;
  }
  .signIn .form_item {
    margin-top: 0.5rem;
  }
}
@media (max-width: 768px) {
  .signIn label {
    font-size: 0.9375rem;
  }
  .signIn input[type=text], .signIn input[type=date], .signIn select {
    font-size: 0.8125rem;
    height: 2.21875rem;
    margin: 4px 0;
  }
  .signIn button {
    margin-top: 1.5rem;
  }
  .signIn .form_items {
    margin-top: 0.5rem;
  }
  .signIn .form_item {
    margin-top: 0.375rem;
  }
}

.register {
  justify-content: space-around;
}
.register button {
  padding: 0.7rem;
  width: 86%;
  margin-top: 1rem !important;
  text-align: center;
}
.register button a {
  color: #fff;
}
.register .muted {
  color: rgba(0, 0, 0, 0.7);
}

.btn {
  font-size: 2.1875rem;
  background: #000;
  color: #fff;
  height: 4.4375rem;
  width: 86%;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 3.5rem;
}

section#user_settings .switch input[type=checkbox] {
  display: none;
  visibility: hidden;
}
section#user_settings .switch input[type=checkbox]:checked + label {
  background-color: #d7ea6a;
}
section#user_settings .switch input[type=checkbox]:checked + label:before {
  transform: translateX(1.75rem);
  background-color: black;
}
section#user_settings .switch label {
  display: flex;
  width: 2.625rem;
  height: 0.875rem;
  border: 1px solid black;
  border-radius: 99em;
  background-color: #bbbbbb;
  position: relative;
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
}
section#user_settings .switch label:before {
  transition: transform 0.15s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background-color: black;
  margin-top: 0.0625rem;
  margin-left: 0.0625rem;
  border-radius: 50%;
}

.vl {
  border-left: 2px solid black;
}
@media (max-width: 1366px) {
  .vl {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin: 0.5rem 0;
  }
}
