@use '../abstracts' as *;

main {
    section#landing {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        min-height: 80vh;

        @include media("<=1366px") {
            flex-flow: column wrap;
        }
    }
}
