@use '../abstracts' as *;

main {
    min-height: 80vh;

    section {
        padding: 1rem;

        &#landing, &#user_authentication, &#account_home {
            display: flex;
            min-height: 80vh;
        }

        &#landing {
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-evenly;

            @include media("<=1366px") {
                flex-flow: column wrap;
            }
        }
        &#user_authentication {
            align-items: center;
            justify-content: center;
        }

        &#user_settings {
            padding: 2vh 10vw;

            @include media("<=1366px") {
                padding: 0 3vw;
            }
        }
    }
}
